body {
	text-align: center;
}

h1 { 
    color: orangered; 
    font-size: 45px; 
}

input{
	width: 80px; 
	height: 52px; 
	margin: auto; 
	border: 1px solid gray; 
	border-radius: 6px; 
	font-size: 30px; 
	text-align: center;
}

#reset{
	box-sizing: border-box; 
	width: 95px; 
	height: 40px; 
	border: 1px solid blue; 
	margin: auto; 
	border-radius: 4px; 
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	background-color: blue; 
	color: white; 
	font-size: 20px; 
	cursor: pointer; 
}

#pretext{ 
    font-family: Verdana,  
        Geneva, Tahoma, sans-serif; 
          
    color: blue; 
    font-size: 18px; 
}  
